<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Cher <%= @user.first_name %> !</h1>
    <p>
      Nous sommes heureux de te confirmer ta participation à l'évenement suivant: <%= @event.title %>.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur eventbribe.co !
  </body>
</html>
